<template>
    <div id="login-page">
        <div>
            <h1>IELTS English School</h1>
            <p>Login to your account</p>
        </div>
        <div>
            <form
                v-if="!$store.state.authUser"
                @submit.prevent="login"
            >
                <p v-if="formError">
                    {{ formError }}
                </p>
                <p>
                    Username: <br>
                    <input
                        type="text"
                        name="username"
                        placeholder="Your Email"
                        v-model="formUsername"
                    >
                </p>
                <p>
                    Password: <br>
                    <input
                        type="password"
                        name="password"
                        placeholder="Your Password"
                        v-model="formPasssword"
                    >
                </p>
                <button
                    type="submit"
                    @v-on:keyup.enter="enter"
                >
                    Log in
                </button>
                <NuxtLink to="/">
                    Forgot Password
                </NuxtLink>
                <div>
                    <p>
                        Don't have an account yet?<br>
                        <NuxtLink to="/Register">
                            Register now
                        </NuxtLink>
                    </p>
                </div>
                <div>
                    <p>
                        By logging in to your account, you agree to IELTS EnglishSchool<br>
                        <nuxt-link to="/">
                            Terms of Service
                        </nuxt-link>
                        &amp;
                        <nuxt-link to="/">
                            Privacy Policy
                        </nuxt-link>
                    </p>
                </div>
            </form>
            <template v-else>
                Hello {{ $store.state.authUser.username }}!
                <pre>Hello world, Connected.</pre>
                <p>
                    <i>
                        You can also refresh this page, you'll still be
                        connected!
                    </i>
                </p>
                <button @click="logout">
                    Logout
                </button>
            </template>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            formError: null,
            formUsername: '',
            formPasssword: ''
        };
    },
    methods: {
        async login() {
            try {
                await this.$store.dispatch('login', {
                    username: this.formUsername,
                    password: this.formPasssword
                });
                this.formUsername = '';
                this.formPasssword = '';
                this.formError = null;
            }
            catch (e) {
                this.formError = e.message;
            }
        },
        async logout() {
            try {
                await this.$store.dispatch('logout');
            }
            catch (e) {
                this.formError = e.message;
            }
        }
    }
};
</script>

