<template>
    <section>
        <div class="section-notificator">
            <p>I CAN NOT ACCESS TO YOUR CAMERA</p>
            <button @click="handleChangePermission">
                ME HERE
            </button>
        </div>
    </section>
</template>

<script>
export default {
    name: 'Notificator',
    methods: {
        handleChangePermission() {
            this.$emit('handleChangePermission');
        }
    }
}; </script>

<style lang="scss" scoped>
  section {
    background-color: #0000007a;
    height: 100vh;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    .section-notificator {
      width: 30rem;
      height: 15rem;
      border: unset;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      box-shadow: 0 0 20px 0 rgba(70,70,70,.2);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;

      button {
        border: unset;
        background-color: #214c63;
        color: #fff;
        padding: 15px;
        border-radius: 7px;
      }
    }
  }
</style>
