<template>
    <no-ssr>
        <Fragment>
            <Fragment v-if="false">
                <Notificator @handleChangePermission="handleChangePermission" />
            </Fragment>
            <div class="video-container">
                <div
                    v-if="isPause"
                    class="blur-screen"
                >
                    Recording...
                </div>
                <video
                    class="main-video"
                    autoplay
                    ref="mainVideo"
                >
                    <source
                        src="/Demovideo.mp4"
                        type="video/mp4"
                    >
                </video>
                <button
                    class="playback"
                    ref="playback"
                    @click="togglePlayback"
                >
                    Playback
                </button>
                <div class="recorder-container">
                    <video
                        ref="recordingVideo"
                        class="sub-video"
                        autoplay
                    />
                    <section v-if="!isTogglePlayback">
                        <button @click.prevent="prepareVideo">
                            Start
                        </button>
                        <button @click.prevent="stopRecord">
                            Next
                        </button>
                    </section>
                </div>
            </div>
        </Fragment>
    </no-ssr>
</template>

<script>
import {Fragment} from 'vue-fragment';
import Notificator from './Notificator.vue';

export default {
    name: 'VideoCapture',
    components: {
        Fragment,
        Notificator
    },
    props: {
        uploadUrl: {
            default: 'jakobpetite.herokuapp.com',
            type: String
        },
    },
    data() {
        return {
            recorder: null,
            connection: null,
            videoUrl: null,
            stream: null,
            isTogglePlayback: false,
            playbackVideos: [],
            isPause: false,
        };
    },
    mounted() {
        this.getWebSocket();
        this.$refs.mainVideo.play();

        const videoFrame = document.createElement('script');
        videoFrame.setAttribute('src', 'https://raw.githubusercontent.com/allensarkisyan/VideoFrame/master/VideoFrame.min.js');
        document.head.appendChild(videoFrame);

        document.onkeydown = this.preventKeyInspect;
        document.contextmenu = this.preventContextMenuInspect;
        document.oncontextmenu = this.preventOnContextMenu;
    },
    methods: {
        preventKeyInspect(e) {
            if (e.keyCode === 123)
                return false;

            else if (e.ctrlKey && e.shiftKey && e.keyCode === 73)
                return false;

            else if (e.ctrlKey && e.keyCode === 85)
                return false;

            else if (e.ctrlKey && e.shiftKey && e.keyCode === 'I'.charCodeAt(0))
                return false;

            else if (e.ctrlKey && e.shiftKey && e.keyCode === 'C'.charCodeAt(0))
                return false;

            else if (e.ctrlKey && e.shiftKey && e.keyCode === 'J'.charCodeAt(0))
                return false;

            else if (e.ctrlKey && e.keyCode === 'U'.charCodeAt(0))
                return false;
        },
        preventContextMenuInspect(e) {
            e.preventDefault();
        },
        preventOnContextMenu() {
            window.event.returnValue = false;
        },
        prepareVideo() {
            this.$refs.recordingVideo.muted = true;
            navigator.mediaDevices.getUserMedia({
                video: {
                    width: {ideal: 1920},
                    height: {ideal: 1080},
                },
                audio: true
            }).then(this.gotStream).catch((e) => console.log(e));
        },
        gotStream(mediaStream) {
            this.stream = mediaStream;
            this.recorder = new MediaRecorder(mediaStream, {
                mimeType: 'video/webm',
                audioBitsPerSecond: 128000
            });
            this.recorder.start();
            this.$refs.mainVideo.pause();
            this.recorder.ondataavailable = this.videoDataHandler;
            this.$refs.recordingVideo.src = null;
            this.$refs.recordingVideo.srcObject = mediaStream;
            if (this.$refs.recordingVideo.srcObject)
                this.isPause = true;
        },
        handleTogglePlayback() {
            this.togglePlayback = true;
        },
        stopRecord() {
            this.$refs.mainVideo.play();
            this.isPause = false;
            this.recorder.stop();
            this.stream.getTracks().forEach((track) => {
                track.stop();
            });
            this.connection.send('DONE');
            this.$refs.recordingVideo.src = null;
            this.$refs.recordingVideo.srcObject = null;
        },
        videoDataHandler(e) {
            const reader = new FileReader();
            reader.readAsArrayBuffer(e.data);
            reader.onloadend = () => {
                this.connection.send(reader.result);
            };
        },
        getWebSocket() {
            const websocketEndpoint = 'wss://' + this.uploadUrl;
            this.connection = new WebSocket(websocketEndpoint);
            this.connection.binaryType = 'arraybuffer';
            this.connection.onmessage = message => {
                this.updateDataPlaybackVideo(message.data);
            };
        },
        updateDataPlaybackVideo(fileName) {
            this.videoUrl = `https://${this.uploadUrl}/uploads/${fileName}.webm`;
            this.playbackVideos.push(this.videoUrl);

            if (this.playbackVideos)
                this.$refs.playback.style.right = 0;
        },
        togglePlayback() {
            this.$refs.mainVideo.currentTime = 0;
            this.$refs.recordingVideo.src = this.playbackVideos[0];
            this.$refs.recordingVideo.srcObject = null;
            this.isTogglePlayback = !this.isTogglePlayback;
        }
    },
    destroyed() {
        this.stream.getTracks().forEach((track) => {
            track.stop();
        });
    }
};
</script>

<style lang="scss" scoped>
    .video-container {
        width: 100%;
        height: 100vh;

        button {
          background-color: #fff;
          border: 2px solid;
          padding: 10px 15px;
          text-transform: uppercase;
        }

        .blur-screen {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          color: #fff;
          height: 100vh;
          background-color: #00000091;
          position: absolute;
          font-size: 4vw;
        }

        .main-video {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .playback {
            position: fixed;
            top: 15px;
            right: -10;
            transition-duration: 3s;
            transition-timing-function: cubic-bezier(0.5, 1.8, 2, 0.5);
        }

        .recorder-container {
            position: absolute;
            right: 0;
            bottom: 0;

            .sub-video {
                width: 25rem;
                position: relative;
            }
        }
    }
</style>
