<template>
    <div id="register">
        <form>
            <input
                type="text"
                name="name"
                required
                v-model="register.name"
            >
            <input
                type="email"
                name="email"
                required
                v-model="register.email"
            >
            <input
                type="password"
                name="password"
                required
                v-model="register.password"
            >
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            register: {
                name: '',
                email: '',
                password: ''
            }
        };
    }
};
</script>

